{% extends 'base.html' %}

{% block title %}
<title>Онлайн магазин</title>
{% endblock %}

{% block body %}
<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      {% for item in items %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ item.title }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ item.price }}<small class="text-muted fw-light"> рублей</small></h1>
            <a href="/items/buy/{{ item.id }}" class="w-100 btn btn-lg btn-outline-primary">Купить товар</a>
          </div>
        </div>
      </div>
      {% endfor %}
  </main>
{% endblock %}